/* MAIN PAGE */
:root {
    --light-color: #fff;
    --light-color-alt: #dddfe6;
    --extreme-dark-color: #6c757d;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --form-input-color: #f7f7f2;
    --transparent-light-color: rgba(255, 255, 255, 0.05);
    --transparent-dark-color: rgba(0, 0, 0, 0.75);
    --font-family: "poppins", sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
  }
@media screen and (max-width: 400px){
    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu .list{
        display: flex;
        flex-direction: column;
        width: 20rem;
    }
    .mid-section{
        display: flex;
        flex-direction: column;
        width: 20rem;
        position: absolute;
        right: 0;
        top: 7rem;
    }
    .menu.activated{
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transform: scale(1);
        background-color: var(--light-color-alt);
    }
    .shopping-section{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40rem;

    }
    .all-shopping-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}