@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .......ORDERS...... */
:root {
  --light-color: #fff;
  --light-color-alt: #dddfe6;
  --extreme-dark-color: #6c757d;
  --primary-background-color: #131417;
  --secondary-background-color: #252830;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --form-input-color: #d5d5d2;
  --transparent-light-color: rgba(255, 255, 255, 0.05);
  --transparent-dark-color: rgba(0, 0, 0, 0.75);
  --font-family: "poppins", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--primary-background-color);
  background-color: var(--light-color);
  letter-spacing: 1px;
  transition: background-color 0.25s, color 0.25s;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}
.header {
  width: 100%;
  height: 5rem;
  position: fixed;
}
.nav-bar {
  height: 100%;
  width: 100%;
  background-color: var(--light-color-alt);
  color: var(--primary-background-color);
  display: flex;
  align-items: center;
}
.order-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}
.order-left-section {
  display: flex;
  align-items: center;
}
.checkout-logo {
  display: flex;
  align-items: center;
}
.mid-section {
  position: relative;
}
.search-form-container {
  max-width: 100%;
  z-index: 15;
  display: flex;
  transition: opacity 0.5s;
}
.form {
  width: 25rem;
  background-color: var(--form-input-color);
  height: 3.5rem;
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.form-btn {
  color: var(--primary-background-color);
  height: 3.5rem;
  width: 20%;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  font-size: var(--font-size-sm);
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.form-input {
  color: var(--primary-background-color);
  font-size: var(--font-size-sm);
  width: 80%;
  height: 3.5rem;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  border: none;
  padding-left: 2rem;
  outline: none;
}
.form-btn:hover {
  cursor: pointer;
  background-color: #dfe0e1;
}
.order-right-section {
  display: flex;
  align-items: center;
}
.cart-btn {
  width: 3rem;
  height: auto;
  margin-right: 2rem;
  background-color: var(--light-color-alt);
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  transition: all 0.4s ease-in-out;
}
.cart-btn:hover {
  transform: translateX(2px);
  background-color: var(--form-input-color);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.orders-page {
  width: 80%;
  height: 20rem;
  margin-top: 9rem;
  height: 50rem;
}
.order-header {
  width: 100%;
  display: grid;
  grid-template-columns: 55rem 1fr;
  background-color: #ced4da;
  padding: 1.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.order-header-left-section {
  display: flex;
  align-items: center;
  gap: 17rem;
}
.order-header-label {
  font-weight: 500;
}
.order-details-grid {
  display: grid;
  grid-template-columns: 30rem 1fr 1fr;
  padding: 0.5rem;
  padding-bottom: 3rem;
  border-top: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.con2 {
  margin-top: 8rem;
  margin-bottom: 4rem;
  width: 80%;
}
.product-image-container {
  width: 25rem;
  height: auto;
  margin-top: 2rem;
  border-radius: 10px;
}
.product-image-container img {
  border-radius: 10px;
}
.product-details {
  margin-top: 1.5rem;
}
.product-name {
  font-weight: 520;
}
.product-delivery-date {
  margin: 0.2rem 0;
}
.buy-again-button {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 15rem;
  margin-top: 4rem;
  border-radius: 10px;
  border: none;
  background-color: yellow;
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.buy-again-button:hover {
  background-color: rgb(247, 247, 6);
  cursor: pointer;
}
.buy-again-message {
  margin: 0 1rem;
  font-size: var(--font-size-sm);
}
.buy-again-button img {
  margin: 0 1rem;
  width: 2.6rem;
  height: auto;
}
.product-actions {
  margin-top: 2rem;
}
.track-package-button {
  width: 20rem;
  height: 3.5rem;
  border-radius: 10px;
  border: none;
  background-color: var(--light-color-alt);
  box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
.track-package-button:hover {
  background-color: #ced4da;
  cursor: pointer;
}

/* .......TRACKING...... */
.main-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 9rem;
}
.order-tracking {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.back-to-orders-link {
  margin-bottom: 5rem;
  width: 20rem;
  height: 4rem;
  background-color: var(--light-color-alt);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b4d8;
  transition: all 0.4s ease-in-out;
}
.back-to-orders-link:hover {
  background-color: #adb5bd;
  transform: translateX(2px);
}

.order-tracking .delivery-date {
  font-weight: 550;
  font-size: var(--font-size-md);
  margin-bottom: 0.3rem;
}
.order-tracking .product-quantity {
  margin-bottom: 2rem;
}
.products-image-cont {
  width: 35rem;
  height: auto;
  border-radius: 10px;
}
.products-image-cont img {
  border-radius: 10px;
}
.progress-label-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.progress-label {
  font-weight: 500;
  font-size: 2rem;
}
.current-status {
  color: green;
}
.progress-bar-container {
  width: 80%;
  height: 2rem;
  background-color: var(--form-input-color);
  border-radius: 2rem;
  border: none;
  margin-bottom: 7rem;
}
.progress-bar {
  width: 50%;
  height: 100%;
  background-color: green;
  border-radius: 2rem;
}
