@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light-color: #fff;
  --light-color-alt: #dddfe6;
  --extreme-dark-color: #6c757d;
  --primary-background-color: #131417;
  --secondary-background-color: #252830;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --gradient-color: linear-gradient(
    115deg,
    #4fcf70,
    #fad638,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  --form-input-color: #f7f7f2;
  --transparent-light-color: rgba(255, 255, 255, 0.05);
  --transparent-dark-color: rgba(0, 0, 0, 0.75);
  --font-family: "poppins", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

/* theme */
body.light-theme {
  --light-color: #3d3d3d;
  --light-color-alt: #495057;
  --primary-background-color: #fff;
  --secondary-background-color: #f1f1f1;
  --hover-light-color: #fff;
  --transparent-dark-color: #f1f1f1;
  --transparent-light-color: rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--light-color-alt);
  background-color: var(--light-color);
  letter-spacing: 1px;
  transition: background-color 0.25s, color 0.25s;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}
input,
button {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}
.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.section {
  padding-block: 5rem;
  color: var(--primary-background-color);
}
.place-items-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
  height: 7rem;
  background-color: var(--light-color-alt);
}

.right-top-section {
  display: flex;
}
.menu-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 30rem;
  padding: 0.2rem;
  margin-right: 1rem;
  /* opacity: 0;
  transform: scale(0); */
  transition: opacity 0.25s ease-in;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  padding: 0;
}
.list-link {
  color: var(--secondary-background-color);
  font-size: var(--font-size-xsm);
}

/* the bottom section */
.bottom-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
}
.left-section {
  display: flex;
  align-items: center;
  width: 20rem;
  position: relative;
}
.logo-section {
  display: inline-flex;
  align-items: center;
}
.logo-section img {
  width: 30px;
  height: auto;
}
.logo-text {
  color: var(--primary-background-color);
  margin-left: 0.5rem;
}
.mid-section {
  display: flex;
  flex-direction: row;
  width: 45rem;
}
.mid-section .list-link {
  font-size: var(--font-size-sm);
}
.menu {
  position: relative;
  opacity: 0;
  transform: scale(0);
}
.btn {
  cursor: pointer;
  color: var(--primary-background-color);
}
.close-menu-icon {
  display: none;
}

.moon-icon {
  display: none;
}
.light-theme .sun-icon {
  display: none;
}
.light-theme .moon-icon {
  display: block;
}

.header.activated {
  box-shadow: 0 1px 0.5rem var(--transparent-light-color);
}
/* .menu > .list {
  flex-direction: column;
} */
.menu.activated {
  box-shadow: 1 1px 1rem var(--transparent-light-color);
  opacity: 1;
  transform: scale(1);
}
.menu-toggle-icon.activated .open-menu-icon {
  display: none;
}
.menu-toggle-icon.activated .close-menu-icon {
  display: block;
}
.right-section {
  position: relative;
}
.search-form-container {
  max-width: 100%;
  z-index: 15;
  display: flex;
  transition: opacity 0.5s;
  /* margin-right: 10rem; */
}
.form {
  width: 25rem;
  background-color: var(--form-input-color);
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 2.5rem;
}
.form-btn {
  color: var(--primary-background-color);
}
.form-input {
  color: var(--primary-background-color);
  font-size: var(--font-size-sm);
}
.buttons {
  display: flex;
  /* background-color: #a767e5; */
  font-size: 2rem;
  margin-top: 4.5rem;
  margin-left: 2rem;
  gap: var(--gap);
  transition: transform 0.3s ease-in-out;
}
.sun-icon {
  transition: transform 0.3s ease;
}
.moon-icon {
  transition: transform 0.3s ease;
}
.sun-icon:hover {
  transform: rotate(80deg);
}
.moon-icon:hover {
  transform: rotate(80deg);
}
.section-header-offset {
  margin-top: 5rem;
}
.cart-btn {
  color: var(--primary-background-color);
  /* background-color: #12bcfe; */
  height: 2.5rem;
  margin-bottom: 0.8rem;
}
.cart-btn:hover {
  border: 1px solid var(--secondary-background-color);
}

.returns {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color-alt);
  margin-top: 4rem;
  /* margin-left: 4rem; */
  width: 22rem;
}
.return-txt {
  background-color: var(--light-color-alt);
  width: 100%;
  height: 3rem;
  color: var(--primary-background-color);
  /* padding: 0 !important; */
  padding-left: 1rem;
}
.returns:hover {
  border: 1px solid var(--primary-background-color);
}

.categories-btn {
  position: absolute;
  background-color: var(--light-color-alt);
  padding: 0.71rem;
  border-radius: 5px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.category-menu {
  position: relative;
  height: 10rem;
  padding-top: 5rem;
  opacity: 0;
  transform: scale(0);
  margin-left: 1rem;
}
.categories-btn .arrow-up {
  display: none;
}
.categories-btn .arrow-down {
  display: block;
}
.categories-btn.active .arrow-up {
  display: block;
}
.categories-btn.active .arrow-down {
  display: none;
}
.category-menu.active {
  opacity: 1;
  transform: scale(1);
}
/* products */
.all-shopping-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin-left: 15rem;
  margin-right: 5rem;
}
.products-container {
  width: 32rem;
  height: 52rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-left: 2rem;
  margin-bottom: 4rem;
}
.product-image-container {
  width: 100%;
  height: 20rem;
}
.product-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.product-specs {
  padding: 2rem 2rem;
}
.product-name p {
  font-size: var(--font-size-sm);
  font-weight: 400;
}
.items {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.items-left {
  font-size: var(--font-size-xsm);
  margin-bottom: 0.1rem;
  margin-left: 0.1rem;
}
.item-bar {
  width: 25rem;
  height: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.items-rem {
  width: 70%;
  height: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: var(--light-color-alt);
}
.item-bar .wd-1 {
  width: 42%;
  background-color: #6c757d;
}
.item-bar .wd-2 {
  width: 60%;
  background-color: #495057;
}
.item-bar .wd-3 {
  width: 13%;
  background-color: #ced4da;
}
.item-bar .wd-4 {
  width: 40%;
  background-color: #6c757d;
}
.item-bar .wd-5 {
  width: 90%;
  background-color: #343a40;
}
.item-bar .wd-6 {
  width: 50%;
  background-color: #495057;
}
.product-rating-container {
  display: flex;
  align-items: center;
}
.product-rating-stars {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  height: 2.5rem;
  font-size: var(--font-size-md);
}
.rating-count {
  color: var(--secondary-background-color);
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 2rem;
}
.offers {
  font-size: var(--font-size-sm);
}
.offer-1 {
  text-decoration: line-through;
}
.product-price {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.product-price p {
  font-weight: 600;
}
.product-quantity-container {
  width: 4.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.selector {
  width: 100%;
  height: 100%;
  font-size: var(--font-size-sm);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: var(--light-color-alt);
}
.added-to-cart {
  width: 2rem;
  height: auto;
  display: none;
}
.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: var(--light-color-alt);
  width: 25rem;
  height: 4rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.add-to-cart-btn:hover {
  cursor: pointer;
  background-color: var(--extreme-dark-color);
}
/* swiper-section */
.swiper-header {
  margin-left: 50rem;
}
.swiper-head {
  position: relative;
  font-size: var(--font-size-md);
  margin-bottom: 6rem;
}
.swiper-head::before {
  content: attr(data-name);
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  opacity: 0.1;
  position: absolute;
  top: -2rem;
  left: -5rem;
}
.swiper-section {
  margin-left: 6rem;
}
.official-shoes.swiper {
  width: 100%;
  height: 35rem;
}
.official-shoes.swiper-slide {
  cursor: grab;
  padding-top: 4rem;
}
.swiper-shoes .shoe-swiper-slide-1 {
  border-radius: 5px;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: var(--extreme-dark-color);
  color: var(--light-color-alt);
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.swiper-pagination-bullet {
  background-color: var(--light-color-alt);
}

.swiper-overlay {
  width: 100%;
  height: 26rem;
  background: rgba(8, 235, 243, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.swp1:hover .swiper-overlay {
  opacity: 1;
  transform: scale(1);
}
.view-more {
  transition: all 0.2s ease-in-out;
}
.view-more:hover {
  border: 1px solid var(--light-color);
  padding: 0.8rem;
  border-radius: 2rem;
}
.shop-by {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 35rem;
  transition: all 0.4s ease-in-out;
}
.shop-by .swiper-header {
  width: 20rem;
  margin-left: 10rem;
}
.sample-slider {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.sample-slider .swiper-slide {
  border-radius: 20px;
}
.sample-slider img {
  width: 100%;
  vertical-align: bottom;
}
.shop-category {
  height: 5rem;
  width: 15rem;
  position: absolute;
  left: 70%;
  top: 10%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--transparent-dark-color);
  color: var(--light-color);
  transition: all 0.4s ease-in-out;
}
.shop-category:hover {
  border: 1px solid var(--light-color-alt);
  background-color: var(--transparent-light-color);
}
.application-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.application-slider .swiper-slide{
  border-radius: 10px;
}
.application-slider{
  width: 60%;
  transition: all .4s ease-in-out;
}
.application-category{
  height: 5rem;
  width: 15rem;
  position: absolute;
  left: 70%;
  top: 10%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--transparent-dark-color);
  color: var(--light-color);
}